body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

#cartImage {
  width: 100px;
  height: 100px;
}

#cartOrderList {
  display: flex;
  justify-content: space-between;
}

#orderTotal {
  flex-grow: 0.5;
  text-align: end;
  align-self: center;
}

#orderQuantity {
  text-align: end;
  align-self: center;
}

#orderProductName {
  text-align: center;
  font-weight: bold;
}

.subtotal {
  text-align: end;
}

.singleProductContainer {
  display: flex;
}
